@import "@tryghost/shade/styles.css";

.admin-x-base.shade-trip-planner {
    animation-name: none;
}

.trip-map-container {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
